{% extends "base.html" %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post.css" %}" />
  <link rel="stylesheet" href="{% static "blog/home.css" %}" />
{% endblock %}

{% block page_title %}
  My Blog
{% endblock %}

{% block content %}
 

  <section id="welcome">
    <header>
      <img src="{% static "blog/images/ski.jpg"%}" alt="Nino - The Author"/>
      <h2>Nino's Blog</h2>
    </header>
    <p> Hi, my name is Nino and this is my place. </p>
  </section>

  <section id="latest-posts">
    <h2>My latest ideas</h2>

    <ul>
     {% include "blog/includes/post.html" %}
    </ul>
  </section>

  <section id="about">
    <h2>Who am I:</h2>
    <p>My goal is to enjoy the outdoors as much as I can and feel free again.</p>
  </section>

{% endblock %}
