{% extends "base.html" %}
{% load static %}

{% block page_title %} Post title {% endblock %}

{% block css_files %}
   <link rel="stylesheet" href="{% static "blog/post-details.css" %}" />
{% endblock %}


{% block content %}
   <section id="summary">
      <h2>Post title</h2>
      <article>
         <img src="{% static "blog/images/ski.jpg" %}" alt="ski foto" />
         <address>By Nino</address>
         <div>
            Last updated on <time>Nov 4th</time>
         </div>
      </article>
   </section>

   <main>
      <p>{% lorem 1 b random %}</p>
   </main>
{% endblock %}